body{
    margin: 0px;
    padding: 0px;
    background-image: url(pexels-kaboompics-com-6267.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
    min-height: 700px;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Top bar open */
.top-bar{
    display: grid;
    grid-template-columns: 30% 15%;
    color: aliceblue;
}
.top-bar .phone-number , .time{
    text-align: center;
    padding: 20px;
}
/* top bar closs */




/* nav bar open */
.nav-bar{
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
    padding: 20px;
    background-color: rgba(54, 242, 248, 0.3);
}

.nav-bar .title{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
.nav-bar .menu-item{
    height: 30px;
    padding-top: 15px;
    color: aliceblue;
}

/* nav bar closs */


/* home content open */
.home-content{
    padding: 200px 100px;
    padding-right: 20px;

}
.home-content .title{
    font-size: 40px;
    color: aliceblue;
}
.home-content .description{
    font-size: 20px;
    color: aliceblue;
}
.home-content .button-group button{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    font-size: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

/* home content closs */
